- content_for :header_tags do
  = render_initial_state
  = javascript_pack_tag 'public', crossorigin: 'anonymous'

- content_for :content do
  .public-layout
    - unless @hide_navbar
      .container
        %nav.header
          .nav-left
            = link_to root_url, class: 'brand' do
              = svg_logo_full

            - unless whitelist_mode?
              = link_to t('directories.directory'), explore_path, class: 'nav-link optional' if Setting.profile_directory
              = link_to t('about.about_this'), about_more_path, class: 'nav-link optional'

          .nav-center

          .nav-right
            - if user_signed_in?
              = link_to t('settings.back'), root_url, class: 'nav-link nav-button webapp-btn'

    .container= yield

    .container
      .footer
        .grid


= render template: 'layouts/application'
